#map {
	height: 625px;
	width: 1036px;
}

p {
	display: inline;
	font-weight: bold;
}

.content-left {
	display: inline;
	border: 2px solid black;
}
.content-middle {
	display: inline;
	border: 2px solid black;
	text-align: center;
}
.content-right {
	display: inline;
	border: 2px solid black;
}
.infoButton {
	position: relative;
	left: -10px;
	bottom: 5px;

	width: 38px;
	height: 38px;
	animation-name: infoButton;
	position: relative;
	animation-duration: 3s;
	animation-iteration-count: infinite;
  }
  
  @keyframes infoButton {
	0%   {background-color:crimson;}
	50% {background-color:white;}
	100% {background-color:crimson;}
}
#sidebarData td {
	padding: 5px;
	border: 2px solid black;
	border-collapse: collapse;
}