#map {
	/*
	height: 850px;
	*/
	height: 600px;
	width: auto;
}
#appName {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 42px;
	letter-spacing: 5px;
}
p {
	display: inline;
	font-weight: bold;
}
.content-left {
	display: inline;
	border: 2px solid black;
}
.content-middle {
	display: inline;
	border: 2px solid black;
	text-align: center;
}
.content-right {
	display: inline;
	border: 2px solid black;
}
/* easyButton styling */

.currencyButton {
	position: relative;
	left: -10px;
	bottom: 5px;

	width: 38px;
	height: 38px;
}
.covidButton {
	position: relative;
	left: -5px;
	bottom: 2px;

	width: 28px;
	height: 28px;
}
.earthquakeButton {
	position: relative;
	left: -10px;
	bottom: 5px;

	width: 38px;
	height: 38px;
}
/* easyButton styling */

/*sidebar.*/
.countryInfoHeader .countryName {
	font-size: 22px;
}

#sidebarTable {
	position: relative;
	margin-top: 3em;
}
#sidebarTable th {
	font-size: 1.3em;
	text-align: right;
}
#sidebarTable td {
	padding-left: 1.05em;
	font-size: 1.3em;
}