#map {
	/*
	*/
	height: 625px;
	width: 1036px;
	/*
	width: auto;
	height: auto;
	*/
}
#countryEntry {
	position: static;
	width: 300px;
	display: inline;
}
label {
	font-family: 'Courier New', Courier, monospace;
}
#resetLocation {
	margin: 10px;
}
div.buttons {
	position: relative;
	display: block;
	width: 240px;
	height: 40px;

	left: 460px;
	bottom: 20px;

	margin: 0px;
	background-color: maroon;
}
