html, body {
	height: 100%;
}
#map {
	width: 100%;
	height: 100%;
}
#countryInput {
	position: absolute;
	z-index: 1000;
	
	width: auto;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
}
.content-left {
	display: inline;
	border: 2px solid black;
}
.content-middle {
	display: inline;
	border: 2px solid black;
	text-align: center;
}
.content-right {
	display: inline;
	border: 2px solid black;
}
/* easyButton styling */

.currencyButton {
	position: relative;
	left: -10px;
	bottom: 5px;

	width: 38px;
	height: 38px;
}
.covidButton {
	position: relative;
	
	width: 28px;
	height: 28px;
	left: -5px;
	bottom: 2px;
}
.earthquakeButton {
	position: relative;
	left: -10px;
	bottom: 5px;

	width: 38px;
	height: 38px;
}
/* easyButton styling */

/*Country Info Sidebar*/
#countryName {
	font-size: 2.5em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	font-variant: small-caps;
	margin: 5% auto;
}
#countryFlag {
	width: 50%;
	max-height: 100px;
	border: solid black 1px;
}
#countryInfoSidebarContent {
	margin-top: 2.5em;
}
.sidebar .countryName {
	font-size: 2em;
}

.tdLabel {
	font-size: 0.9em;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}
.sidebar .sidebarBody .tdInfo {
	font-size: 0.95em;
	list-style-type: none;
}
.sidebar .sidebarBody .tdInfo .listData {
	font-size: 0.95em;
	list-style-type: none;
	padding-left: 0px;
}
#coatOfArmsImg {
	position: relative;
	height: 100px;
	width: 100px;
}

/*   Currency Calculator   */

#currencySidebar {
	padding: 0px;
}
#currencySidebar h1 {
	text-align: center;
	font-size: 1.6em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	margin: 10% 0% 10%;
}
.form-control {
	text-align: center;
}
#buttonAndResultContainer {
	margin-top: 2em;
}
#conversionResultContainer {
	position: relative;
	height: auto;
	border: 1px solid lightgray;
	border-radius: 0.25em;
	background-color: #FFFFFF;
	margin-top: 1.4em;

	
	font-size: 1.6em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}

/*   Covid19 Modal   */

#covidModalHeader {
	background-color: rgb(43, 124, 43);
	color: rgb(240, 185, 118);
	text-align: center;
}
#covidTableTitle{
	text-align: center;
}
#covidTableData {
	padding: 1.3em;
}

/*   Earthquake Modal   */

#earthquakeTable th, td {
	text-align: center;
	padding: 0.5em;
}
#earthquakeModalHeader {
	background-color: rgb(136, 23, 23);
}
#earthquakeTable tr:nth-child(even) {
    background-color: rgb(230, 230, 230);
}

/*   Preloader   */

/* #preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: #fff;
}

#preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #f2f2f2;
	border-top: 6px solid #56829e ;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes animate-preloader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
} */
